@import url("color.css");

/* Colors just for the context menu */
:root {
    /* arrowpanel-background affects every/most hover panel background color */
    --arrowpanel-background: var(--main-bg-color) !important;
    --panel-separator-zap-gradient: linear-gradient(90deg,
            rgba(11, 11, 11, 1) 0%,
            rgb(204, 143, 78) 39%,
            rgb(37, 27, 36) 100%) !important;
    --button-hover-bgcolor: hsla(0, 0%, 60%, 0.35) !important;
    --button-active-bgcolor: hsla(0, 0%, 45%, 0.35) !important;
    --button-bgcolor: hsla(0, 0%, 45%, 0.9) !important;
    --arrowpanel-border-color: hsla(0, 0%, 50%, 0.25) !important;
    --dark-menu-background-color: #222121 !important;
    --dark-menu-border-color: rgb(55, 55, 55) !important;
    --dark-menuitem-hover-background-color: rgba(159, 159, 159, 0.35) !important;
}


menupopup :-moz-any(menu, menuitem) {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

menupopup> :-moz-any(menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"]) {
    background-color: color-mix(in srgb, currentColor 9%, transparent) !important;
}

#context-navigation>.menuitem-iconic[_moz-menuactive="true"]>.menu-iconic-left>.menu-iconic-icon {
    border-radius: var(--toolbarbutton-border-radius) !important;
    background-color: var(--button-hover-bgcolor) !important;
}

menupopup :-moz-any(menu:first-child, menuitem:first-child) {
    margin-top: 0px !important;
}

menupopup :-moz-any(menu:last-child, menuitem:last-child) {
    margin-bottom: 0px !important;
}

/* ----- Menu Separator #context-sep-selectall ----- */
menuseparator {
    border-color: var(--arrowpanel-border-color) !important;
}

menuseparator#context-sep-navigation {
    border-color: var(--arrowpanel-border-color) !important;
}

/* ----- Menu Colors -- border - rgba(82, 82, 94, 0.31) ----- */
:not(#ContentSelectDropdown)>menupopup {
    --panel-border-color: var(--arrowpanel-border-color) !important;
    --panel-background: var(--main-bg-color) !important;
    --panel-padding: 5px 0 5px !important;
    --panel-border-radius: 8px !important;
}

#context-navigation:not([hidden]) {
    background-color: #131313cf !important;
    padding: 1px 4px 1px !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

menupopup#contentAreaContextMenu {
    --panel-padding: unset !important;
    --panel-padding: 0 0 5px !important;
}

.menupopup-arrowscrollbox {
    overflow: hidden !important;
}

menupopup menuitem:is(#context-openlinkintab, #context-undo, #context-viewimage) {
    margin-top: 5px !important;
}