@import url("color.css");

#urlbar-background {
    display: none !important;
}

.urlbarView-body-inner {
    border-top: 0px !important;
}

#urlbar:not(.megabar):not([focused="true"]),
#urlbar:not(.megabar):not([focused="true"]):hover {
    border-bottom: transparent;
}

#urlbar {
    --autocomplete-popup-highlight-background: hsl(240, 2%, 26%) !important;
    border: 0 !important;
    border-radius: 10px !important;
    background-color: var(--url-bar-bg-color) !important;
    border-bottom: 1px solid var(--url-border-bottom-color) !important;
    border-top: 1px solid var(--url-border-top-color) !important;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35) !important;
}

.urlbarView:not([noresults])>.search-one-offs:not([hidden]) {
    border-top: none !important;
}

/* Line above search engine selection in search bar */
#urlbar .search-one-offs .search-panel-one-offs-header-label {
    display: none !important;
}

/* Megabar */
#urlbar[breakout] {
    height: auto !important;
}

#urlbar[breakout][breakout-extend][open] {
    background-color: var(--url-breakout-bar-bg-color) !important;
    border-bottom: 1px solid var(--url-breakout-border-bottom-color) !important;
    border-top: 1px solid var(--url-border-top-color) !important;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
}

#urlbar[breakout][breakout-extend]>#urlbar-input-container,
#urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
    transition: none !important;
}

#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar .urlbar-input-box {
    text-align: left;
}

#urlbar-container #urlbar {
    --urlbar-height: 30px !important;
    --urlbar-min-height: 32px !important;
}

#wrapper-urlbar-container #urlbar {
    height: var(--urlbar-height) !important;
}

/* Remove border from search bar */
#nav-bar #urlbar {
    border-bottom: none !important;
    border-top: none !important;
    box-shadow: none !important;
}

#nav-bar #urlbar[breakout][breakout-extend][open] {
    border-bottom: none !important;
    border-top: none !important;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
}